.sidebar {
    margin-top: -10px;
    padding-top: 18px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 350px;
    position: fixed !important;
    z-index: 1;
    overflow: auto;
}

.sidebar {
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(255, 94, 247, 1) 17.8%, rgba(2, 245, 255, 1) 100.2%);
    box-shadow: 0 0 5px rgb(21, 32, 43);
}

.sidebar h3 {
    padding-left: 32px;
    margin-top: 15px;
}

.sidebar a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    /* font-size: 15px; */
    margin-left: 15px;
    padding: 2px 15px 1px 16px;
}

.sidebar a:hover {
    background-color: #00DBDE !important;
    background-image: linear-gradient(-90deg, #003334 0%, #FC00FF 100%) !important;
    color: white;
}

@media screen and (max-width: 991px) {
    .sidebar {
        position: sticky;
        /* width: 250px; */
        width: 0;
        transition: 0.2s;
    }

    .sideopen {
        position: absolute;
        width: 200px;
        transition: 0.2s;
    }

}