.learn {
    display: flex;
}

.learncont{
    /* padding-top: 120px; */
    width: 100%;
    margin-left: 350px;
}

@media screen and (max-width: 991px) {
  
    .learncont{
        width: 100%;
        margin-left: 0px;
    }

  }

  