.object-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.accContainer {
    border-radius: 5px;
    padding: 25px !important;
    margin-top: 50px !important;
    max-width: 1200px;
    border: 1px solid rgb(72, 72, 72);
    background: #0a1014;
    /* background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%); */
    box-shadow: 0 0 5px rgb(255, 255, 255);
}

/* .main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
} */

.forms {
    display: flex;
    align-items: center;
    /* max-width: 800px; */
    justify-content: space-evenly;
    border: 1px solid rgb(72, 72, 72);
    border-radius: 5px;
    max-width: 1000px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.passform{
    border: 1px solid rgb(72, 72, 72);
    border-radius: 5px;
    max-width: 1000px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.alert{
    position: absolute;
    margin-top: 5px !important;
    margin-bottom: 0;
    max-width: 400px;
    font-size: 13px;
    margin: auto;
    padding: 5px;
    text-align: center;
}

.alert1{
    margin-top: 5px !important;
    margin-bottom: 0;
    max-width: 400px;
    font-size: 13px;
    /* margin: auto; */
    padding: 5px;
    text-align: center;
}

.button,.button1 {
    background-color: #00DBDE;
    background-image: linear-gradient(225deg, #007d9c 0%, #9f0265 100%);
    outline: none;
    border: none;
    color: white;
    margin: auto;
    border-radius: 3px;
}

.button{
    width: 100px;
}

.button1{
    width: 150px;
}


.button:hover,.button1:hover {
    background-color: #00DBDE;
    background-image: linear-gradient(-225deg, #0dd2d6 0%, #ff38d4 100%);
    color: rgb(0, 0, 0);
}

.rightCheck{
    color: #05e205;
    font-size: 22px;
}

.wrongCheck{
    color: rgb(183 9 9);
    font-size: 25px;
    font-weight:bold;
}

.alert1{
    margin-top: 35px !important;
}

.alert1 ul span{
    display: flex;
    align-items: center;
}

.alert1 ul{
    padding: 0;
    list-style: none;
    align-items: center;
}

.alert1 ul li{
    color: rgb(255, 255, 255);
}


@media screen and (max-width: 993px) {
    .main {
        display: flex;
        flex-direction: column;
    }

    .forms {
        display: flex;
        flex-direction: column;
    }

    .alert{
        font-size: 10px;
        max-width: 170px;
    }

    .alert1{
        margin-top: 55px !important;
    }
}